.shadow{
    -fx-effect:dropShadow(three-pass-box,rgb(0,0,0,0.1), 10.0, 0.0, 0.0, 10.0);
}
.cursor-hand{
    -fx-cursor:hand;
}

.button-transparent{
    -fx-background-color:transparent;
}

.default-background-navy{
    -fx-background-color:#2d3553;
}

.default-background-lightnavy{
    -fx-background-color:#808eae;
}

.default-border-navy{
    -fx-border-color:#2d3553;
    -fx-background-color:#FFFFFF;
}

.default-label-navy{
    -fx-background-color:#FFFFFF;
    -fx-background-radius:10;
    -fx-text-fill:#2d3553;
}

.default-button-white-navy{
    -fx-background-color:#FFFFFF;
    -fx-text-fill:#2d3553;
    -fx-cursor:hand;
}

.default-button-navy-white{
    -fx-background-color:#2d3553;
    -fx-text-fill:#ffffff;
    -fx-cursor:hand;
}

.default-button-lightnavy-navy{
    -fx-background-color:#808eae;
    -fx-text-fill:#2d3553;
    -fx-cursor:hand;
}